<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
    "/WEB-INF/dtd/spring-beans.dtd">
<beans>
    <bean id="RoleTypeDao" class="com.cintel.frame.webui.DomainDao">
        <property name="sqlMapClient">
            <ref bean="webSqlMapClient" />
        </property>
        <property name="nameSpace">
            <value>RoleType</value>
        </property>
    </bean>

    <bean id="RoleTypeService" class="com.cintel.frame.webui.DomainService">
        <property name="dao">
            <ref bean="RoleTypeDao" />
        </property>
    </bean>
    
    <bean name="/roleType" class="com.cintel.frame.auth.role.type.RoleTypeAction" singleton="false">
        <property name="service">
            <ref bean="RoleTypeService" />
        </property>
    	<property name="allRoleItemsList">
			<ref bean="SpringRoleItemsListFactory"/>
		</property>
    	<property name="loadRoleTypeFromSpring">
			<value>${loadRoleTypeFromSpring}</value>
		</property>
        <property name="commandClass">
            <value>com.cintel.frame.auth.role.type.RoleType</value>
        </property>
        <property name="actionForwardKey" >
            <ref bean="ActionForwardKey" />
        </property>
    </bean>
</beans>
